<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title><%= trainer.nome %></title>
</head>
<body>
  <h1><%= trainer.nome %></h1>
  <p>Pokemon1: <%= trainer.pokemon1 %></p>
  <p>Pokemon2: <%= trainer.pokemon2 %></p>
  <p>Pokemon3: <%= trainer.pokemon3 %></p>
  <a href="/">Voltar à Pokédex</a>
</body>
</html>
